<footer class="rio-footer" role="contentinfo" aria-label="Rodapé do site">

  <div class="rio-footer-top">
    <div class="rio-ct">

      <div class="brand">
        <img src="partials/logos_website/riosdesporto_footerlogo.svg" alt="Rios logo" />
      
      </div>

      <nav class="rio-links" aria-label="Links do rodapé">
        <div>
          <h4>Links úteis</h4>
          <a href="melhoresmarcadores.html">Bahatas</a>
          <a href="jogos.html">Ubuntu UD</a>
          
          <a href="equipas.html">Proletariado</a>
          
          <a href="melhoresmarcadores.html">007 Quintas</a>
          <a href="melhoresmarcadores.html">Vanghanu VM</a>
          <a href="tabeladepontuacao.html">Chitas De Aco</a>
          
        </div>

        <div>
          <h4>Estatísticas</h4>
          <a href="estatisticasjogadores.html">Jogadores</a>
          <a href="#">Jogos</a>
          <a href="#">Tabela</a>
          <a href="#">Equipas</a>
          <a href="#">Melhores marcadores</a>
        </div>

        <div>
          <h4>Documentos</h4>
          <a href="#">Regulamentos interno</a>
          <a href="#">Regulamento da FIFA</a>
          <a href="#">FIFA Docs</a>
        </div>
      </nav>

    </div>
  </div>

  <div class="rio-footer-bottom">
    <div class="rio-bottom-inner">
      <span>
        © <span id="rioYear"></span> Rios. Todos os direitos reservados.
      </span>

      <div class="rio-legal">
        <a href="#">Privacidade</a>
        <a href="#">Termos</a>
      </div>
    </div>
  </div>

</footer>
