<header class="main-header">
  <div class="container site-header">
    <a href="index.html" class="brand">Rios</a>

    <div class="top-links">
      <a href="jogos.html">Jogos</a>
      <a href="tabeladepontuacao.html">Tabela</a>
    </div>

    <button class="nav-toggle"
      aria-expanded="false"
      aria-controls="nav">
      ☰
    </button>

    <nav>
      <ul class="nav-list" id="nav" aria-label="Main navigation">
        <li class="has-submenu">
          <a href="#">Estatística</a>
          <ul class="submenu" aria-label="Estatística submenu">
            <li><a href="estatisticasjogadores.html">Jogadores</a></li>
            <li><a href="estatisticasequipa.html">Equipas</a></li>
            <li><a href="melhoresmarcadores.html">Melhores Marcadores</a></li>
          </ul>
        </li>
        <li><a href="equipas.html">Equipas</a></li>
      </ul>
    </nav>
  </div>
</header>
