<header class="main-header">
  <div class="container site-header">

    <!-- LOGO -->
    <a href="index.html" class="brand">
      <img src="partials/logos_website/riosdesporto_headertop.svg" alt="Rios Desporto">
    </a>

    <!-- LINKS SUPERIORES -->
    <div class="top-links">
      <a href="jogos.html">Jogos</a>
      <a href="tabeladepontuacao.html">Tabela</a>
    </div>

    <!-- BOTÃO MOBILE -->
    <button class="nav-toggle"
      aria-expanded="false"
      aria-controls="nav">
      ☰
    </button>

    <!-- MENU -->
    <nav>
      <ul class="nav-list" id="nav" aria-label="Main navigation">
        <li class="has-submenu">
          <a href="#">Estatística</a>
          <ul class="submenu">
            <li>
              <a href="melhoresmarcadores.html">
                Melhores Marcadores
              </a>
            </li>
          </ul>
        </li>

        <li><a href="equipas.html">Equipas</a></li>
        <li><a href="index copy.html">Inscrição</a></li>
      </ul>
    </nav>

  </div>
</header>
