.uefa-table,
.uefa-table * {
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

.uefa-table {
  color: #1a313c;
  border: 1px solid #dbdde9;
  border-radius: 8px;
  background-color: #ffffff;
}

/* HEADER */
.header-box {
  padding: 20px 24px;
}

.title {
  font-size: 24px;
  font-weight: 700;
  margin: 20px 0 16px;
}

/* TABS */
.tabs {
  display: flex;
  gap: 8px;
  background: #f1f3f8;
  border-radius: 12px;
  padding: 6px;
  width: fit-content;
}

.tab {
  padding: 10px 28px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  background: transparent;
  border: none;
}

.tab.active {
  background: #ffffff;
  box-shadow: 0 3px 8px rgba(0,0,0,.08);
}

/* TABLE */
table {
  width: 100%;
  border-collapse: collapse;
  display: none;
}

table.active {
  display: table;
}

th {
  font-size: 12px;
  color: #6b7280;
  padding: 12px 8px;
  text-align: left;
  border-bottom: 1px solid #e5e7eb;
}

td {
  padding: 14px 8px;
  font-size: 14px;
  border-bottom: 1px solid #e5e7eb;
  background: #fff;
}

.team {
  display: flex;
  align-items: center;
  gap: 10px;
}

.team img {
  width: 30px;
}

.form {
  display: flex;
  justify-content: flex-end;
}

/* MOBILE */
@media (max-width:1024px) {
  .scroll-wrapper {
    overflow-x: auto;
  }
  #full {
    min-width: 1000px;
  }
}

.tabelapontos-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 10px 35px;
}
